<li class="user-item list-group-item">
  <div class="row">
    <div class="col-sm-3">
      @<%= user.login %>
    </div>
    <div class="col-sm-9">
      <input disabled type="text" value="<%= guest_room_url(room_secret_id, user.secret_id) %>">
    </div>
  </div>
</li>
