<div class="home-main-container text-center">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Welcome to the Secret Chat</h2>
    </div>

    <div class="row">
      <%= form_with url: users_owners_path, class: "main-form", local: true do |form| %>
        <%= form.text_field :user_login, class: "form-control", placeholder: "Login" %>
        <%= form.text_field :room_name, class: "form-control", placeholder: "Secret room name" %>

        <%= form.submit class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
