.user-invites {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-top: 20px;

  .user-item {
    input {
      margin-right: 10px;
      width: 100%;
      max-width: 500px;
    }
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}
